<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Jquery滚动条</title>
    <link href="../../css/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../css/page-scroll.css" rel="stylesheet" type="text/css" />
    <link href="../../js/shBrush/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="../../js/shBrush/styles/shThemeFadeToGrey.css" rel="stylesheet" type="text/css" />
    <script src="../../js/shBrush/src/shCore.js" type="text/javascript"></script>
    <script src="../../js/shBrush/scripts/shBrushJScript.js" type="text/javascript"></script>
    <style type="text/css">
        .code_a{ padding:0 0 0 10px;}
    </style>
	<script type="text/javascript">
	    SyntaxHighlighter.config.clipboardSwf = '../../js/shBrush/scripts/clipboard.swf';
	    SyntaxHighlighter.all();
	</script>
</head>
<body>
    <header>
        <a href="../../index.html"><img class="m_logo" src="../../img/logo/mylogo.png" alt="LOGO图片" /></a>
        <nav>
            <a href="../../index.html">Home</a>
            <a href="#">Work</a>
            <a href="#">Profile</a>
        </nav>
    </header>
    <section id="main">
        <h1 class="m_tit">Js滚动条(练习)</h1>
        <section>
            <div id="container">
                <div id="content" class="content">
                    <ul>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                    </ul>
                </div>
                <div id="v_bar" class="v_bar">
                    <div id="jq_drag" class="jq_drag">
                    </div>
                </div>
            </div>
        </section>
        <section class="code_a">
            <pre class="brush:javascript">
            </pre>
        </section>
    </section>
    <script type="text/javascript">
        /*
            对象：容器,滚动内容,滚动栏,滚动条.
            参数: 时间,距离.
        */
        var animate = function (obj) {
            this.obj = obj;
        }
        animate.prototype = {
            fps: 60,
            init: function (props, dur, dis) {
                this.duration = dur || 1000;
                this.curframe = 0;
                this.initState = {};
                this.tween = function (t, b, c, d) {
                    return c * (t /= d) * t + b;
                };
                this.frames = Math.ceil(this.duration * this.fps / 1000);
                for (var prop in props) {
                    this.initState[prop] = {
                        from: parseInt($kz.css(this.obj, "top")),
                        to: dis
                    }
                }
            },
            by: function (props, dur, dis) {

            },
            to: function (props, dur, dis) {
                this.init(props, dur, dis);
                this.start();
            },
            start: function () {
                var that = this;
                var timer = setInterval(function () {
                    if (that.complete()) {
                        return;
                    }
                    that.curframe++;
                    that.move();
                }, 2000 / this.fps)
            },
            move: function () {
                var dis;
                for (var prop in this.initState) {
                    this.initState[prop]["from"] = this.initState[prop]["from"] + this.curframe / this.frames * (this.initState[prop]["to"] - this.initState[prop]["from"]);
                    dis = this.tween(this.curframe, this.initState[prop]["from"], this.initState[prop]["to"] - this.initState[prop]["from"], this.frames);
                    $kz.css(this.obj, "top", dis + "px");
                };
            },
            complete: function () {
                return this.curframe >= this.frames;
            }
        }
        var $kz = {
            get: function (id) {
                return document.getElementById(id);
            },
            css: function (obj, name, val) {
                if (val) {
                    obj.style[name] = val;
                }
                else {
                    var style = obj.currentStyle || window.getComputedStyle(obj, '');
                    return style[name];
                }
            },
            addevt: function (obj, evt, fn) {
                if (obj.addEventListener) {
                    obj.addEventListener(evt, fn)
                }
                else if (obj.attachEvent) {
                    obj.attachEvent(evt, fn);
                }
                else {
                    obj["on" + evt] = fn;
                }
            }
        }
        var _am = new animate($kz.get("jq_drag"));
        _am.to({ top: 0 }, 1000, 200);
        $kz.addevt($kz.get("jq_drag"), "click", function () { alert("1"); });
    </script>
</body>
</html>
