<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>滚动条</title>
    <link href="../../css/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../css/page-scroll.css" rel="stylesheet" type="text/css" />
    <link href="../../js/shBrush/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="../../js/shBrush/styles/shThemeFadeToGrey.css" rel="stylesheet" type="text/css" />
    <script src="../../js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../js/shBrush/src/shCore.js" type="text/javascript"></script>
    <script src="../../js/shBrush/scripts/shBrushJScript.js" type="text/javascript"></script>
    <style type="text/css">
        .code_a{ padding:0 0 0 10px;}
    </style>
	<script type="text/javascript">
	    SyntaxHighlighter.config.clipboardSwf = '../../js/shBrush/scripts/clipboard.swf';
	    SyntaxHighlighter.all();
	</script>
</head>
<body>
    <header>
        <a href="../../index.html"><img class="m_logo" src="../../img/logo/mylogo.png" alt="LOGO图片" /></a>
        <nav>
            <a href="../../index.html">Home</a>
            <a href="#">Work</a>
            <a href="#">Profile</a>
        </nav>
    </header>
    <section id="main">
        <h1 class="m_tit">Jquery滚动条(练习)</h1>
        <section>
            <div id="container">
                <div class="content">
                    <ul>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                        <li>是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说是谁说</li>
                    </ul>
                </div>
                <div class="v_bar">
                    <div class="jq_drag">
                    </div>
                </div>
            </div>
        </section>
        <section class="code_a">
            <pre class="brush:javascript">
                $(function () {
                    var jqContainer = $("#container");
                    var jqContent = $(".content");
                    var jqVbar = $(".v_bar");
                    var jqDrag = $(".jq_drag");

                    var nVbarH = jqContainer.height();
                    var nContH = jqContent.height();


                    var nRatio = nVbarH / nContH;
                    var nDragH = nRatio * nVbarH;
                    var nCrodY;
                    var nInitY = jqDrag.position().top;
                    var nMaxY = nVbarH - nDragH;
                    jqDrag.height(nDragH);

                    function fnMouseDown(e) {
                        nCrodY = e.clientY;
                        $(document).bind("mousemove", fnMouseMove);
                        $(document).bind("mouseup", fnMouseUp);
                        e.preventDefault();
                    }
                    function fnMouseMove(e) {
                        nInitY = jqDrag.position().top;
                        dragY = nInitY + e.clientY - nCrodY;
                        nCrodY = e.clientY;
                        if (dragY < 0) {
                            dragY = 0;
                        }
                        else if (dragY > nMaxY) {
                            dragY = nMaxY;
                        }
                        fnScrollBy(dragY);
                    }
                    function fnVbarClick(e) {
                        nInitY = jqDrag.position().top;
                        dragY = nInitY + e.clientY - jqDrag.offset().top - nDragH / 2;
                        if (dragY < 0) {
                            dragY = 0;
                        }
                        else if (dragY > nMaxY) {
                            dragY = nMaxY;
                        }
                        fnScrollTo(dragY);
                    }
                    function fnMouseUp(e) {
                        $(document).unbind("mousemove");
                    }
                    function fnScrollBy(nTop) {
                        jqDrag.css("top", nTop + "px");
                        jqContent.css("marginTop", -nTop / nVbarH * nContH + "px");
                    }
                    function fnScrollTo(nTop) {
                        jqDrag.animate({ "top": nTop });
                        jqContent.animate({ "marginTop": -nTop / nVbarH * nContH });
                    }
                    jqDrag.bind("mousedown", fnMouseDown);
                    jqDrag.bind("click", function () { return false; });
                    jqVbar.bind("click", fnVbarClick);
                })
            </pre>
        </section>
    </section>
    <script type="text/javascript">
        $(function () {
            var jqContainer = $("#container");
            var jqContent = $(".content");
            var jqVbar = $(".v_bar");
            var jqDrag = $(".jq_drag");

            var nVbarH = jqContainer.height();
            var nContH = jqContent.height();


            var nRatio = nVbarH / nContH;
            var nDragH = nRatio * nVbarH;
            var nCrodY;
            var nInitY = jqDrag.position().top;
            var nMaxY = nVbarH - nDragH;
            jqDrag.height(nDragH);

            function fnMouseDown(e) {
                nCrodY = e.clientY;
                $(document).bind("mousemove", fnMouseMove);
                $(document).bind("mouseup", fnMouseUp);
                e.preventDefault();
            }
            function fnMouseMove(e) {
                nInitY = jqDrag.position().top;
                dragY = nInitY + e.clientY - nCrodY;
                nCrodY = e.clientY;
                if (dragY < 0) {
                    dragY = 0;
                }
                else if (dragY > nMaxY) {
                    dragY = nMaxY;
                }
                fnScrollBy(dragY);
            }
            function fnVbarClick(e) {
                nInitY = jqDrag.position().top;
                dragY = nInitY + e.clientY - jqDrag.offset().top - nDragH / 2;
                if (dragY < 0) {
                    dragY = 0;
                }
                else if (dragY > nMaxY) {
                    dragY = nMaxY;
                }
                fnScrollTo(dragY);
            }
            function fnMouseUp(e) {
                $(document).unbind("mousemove");
            }
            function fnScrollBy(nTop) {
                jqDrag.css("top", nTop + "px");
                jqContent.css("marginTop", -nTop / nVbarH * nContH + "px");
            }
            function fnScrollTo(nTop) {
                jqDrag.animate({ "top": nTop });
                jqContent.animate({ "marginTop": -nTop / nVbarH * nContH });
            }
            jqDrag.bind("mousedown", fnMouseDown);
            jqDrag.bind("click", function () { return false; });
            jqVbar.bind("click", fnVbarClick);
        })
    </script>
</body>
</html>
